.block {
    float: left;
    padding-left: 35px;
    padding-right: 35px;
}

.title {
    cursor: pointer;
    background-color: #D3D3D3;
    margin: 5px;
    padding: 10px;
    transition: 300ms;
    border-radius: 3px;
}

.title:hover{
    background-color: #C0C0C0;
    transition: 300ms;
}