.summary {
    cursor: pointer;
    background-color: #D3D3D3;
    margin: 5px;
    padding: 10px;
    transition: 300ms;
    border-radius: 3px;
}

.summary:hover{
    background-color: #C0C0C0;
    transition: 300ms;
}

.block {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}