<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

        <script th:inline="javascript">
            var frontendData = [[${frontendData}]];
        </script>
        <style>
            .ui {
                width: 40%;
                margin: 3%;
            }
        </style>
    </head>
    <body>
        <div>Admin panel</div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <div>
            <a href="/">To main page</a>
        </div>

        <div class="ui" style="float: left;">
            List of users
            <div id="user_ui"></div>
        </div>
        <div class="ui" style="float: right;">
            List of roles
            <div id="role_ui"></div>
        </div>

        <script src="/js/user_ui.js"></script>
        <script src="/js/role_ui.js"></script>
    </body>
</html>