<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>NetKraken</title>
    </head>
    <body>
        Hola
        <div>
            <a href="/registration"><i>Create new user</i></a>
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <hr/>
        <div>
            <a href="/request">Create new request</a>
        </div>
        <div>
            <a href="/template">Edit templates</a>
        </div>
        <div>
            <a href="/moderator">Moderator interface</a>
        </div>
        <div>
            <a href="/performer">Performer interface</a>
        </div>
        <div>
            <a href="/applicant">Applicant interface</a>
        </div>
        <div>
            <a href="/admin">Admin interface</a>
        </div>
    </body>
</html>