<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>NetKraken</title>
    </head>
    <body>
        Hola
        <form th:action="@{/logout}" method="post" style="float: right">
            <input type="submit" value="Sign Out"/>
        </form>
        <div>
            <a href="/request">Create new request</a>
        </div>
        <div>
            <a href="/moderator">Moderator features</a>
        </div>
    </body>
</html>