<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        Hola
        <div>
            <a href="/admin">Admin panel</a>
        </div>
        <div>
            <a href="/performer">Performer panel</a>
        </div>
        <div>
            <a href="/client">Client panel</a>
        </div>
        <div>
            <a href="/request">Create new request</a>
        </div>
    </body>
</html>