<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        Create new user
        <div th:if="${message}">
           <div>User already exists</div>
        </div>
        <div>
            <a href="/">To main page</a>
        </div>
        <form th:action="@{/registration}" method="post">
            <div><label> User name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Create"/></div>
        </form>
    </body>
</html>